<div class="col-md-offset-2 col-md-8">
	<div class="clearfix">
		<form ng-Submit="addPost()" ng-show="authenticated" name="myForm">
			<h4>{{current_user}} says</h4>
			<textarea required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
			<select name="category" ng-model="newPost.category" ng-options="category for category in categories" required>
				<option></option>
			</select>
			<input class="btn submit-btn pull-right" type="submit" value="Chirp!" />
		</form>
		<div id="post-stream">
			<h4>Chirp Feed</h4>
			<select ng-model="category">
				<option selected value="">-- Filter by category --</option>
				<option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
			</select>
			<select ng-model="author">
				<option selected value="">-- Filter by author --</option>
				<option ng-repeat="author in users" value="{{author.username}}">{{author.username}}</option>
			</select>

			<div class="post" ng-repeat="post in posts | orderBy:'created_at':true | filter:category | filter:author " ng-class-odd="'odd'" ng-class-even="'even'">
				<p>{{post.text}}</p>
				<small>Posted by @{{post.created_by}}</small>
				<small>category: {{post.category}}</small>
				<small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
				<button ng-click="delete(post)" ng-show="authenticated">Delete</button>
			</div>
		</div>
	</div>
</div>
